.add-btn{
    background:#16a34a;
    color:white;
    padding:12px 22px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.add-btn:hover{
    background:#15803d;
    transform:scale(1.05);
}